<% if local_assigns[:only_content] %>
  <% products.each do |product| %>
    <%= render partial: 'products/product', locals: { product: product, user: user } %>
  <% end %>
<% else %>
  <div id = 'items' class='products px-1'>
    <% products.each do |product| %>
      <%= render partial: 'products/product', locals: { product: product, user: user } %>
    <% end %>
  </div>
<% end %>